<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="create_2">
  <xacro:include filename="$(find create_description)/urdf/create_base.urdf.xacro" />

  <xacro:create_base base_radius="0.3302" wheel_separation="0.235" wheel_radius="0.036">
    <mesh filename="package://create_description/meshes/create_2.dae" />
  </xacro:create_base>
</robot>
