<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="create">
  <xacro:include filename="$(find create_description)/urdf/create_base.urdf.xacro" />
  
  <xacro:create_base base_radius="0.3302" wheel_separation="0.26" wheel_radius="0.033">
    <mesh filename="package://create_description/meshes/create_1.dae" />
  </xacro:create_base>
</robot>
